# Виртуальное окружение
.venv/
venv/
env/
ENV/

# Сборки PyInstaller
dist/
build/
*.spec

# Настройки PyCharm
.idea/
.vscode/

# Файлы настроек программы
settings.json

# Папка с ffmpeg
ffmpeg/

# Временные файлы
__pycache__/
*.pyc
*.pyo

# Файлы установщика
*.exe
*.msi
setup/
Output/

# Логи
*.log

# Мои файлы
Text Document.txt
InnoSetupMediaDownloader/